# Python
*.py[cod]
__pycache__/
*.so

# Virtual Environment
venv/

# macOS
.DS_Store

# Secrets
*.secret
devices.config

## Rust

# Binaries
/target
**/*.rs.bk

# Build artifacts
/target/
**/*.rlib
**/*.rmeta

# Packages
Cargo.lock
*.crate


*.log