# Python
*.py[cod]
__pycache__/
*.so

# Virtual Environment
venv/

# macOS
.DS_Store

# Secrets
*.secret

# Logs
*.log
nohup.out
request_logs.log

# Rust artifacts
/target
**/*.rs.bk
/target/
**/*.rlib
**/*.rmeta

# Packages
Cargo.lock
*.crate

# Misc
openssl-*.tar.gz
